{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "safari >= 9"
                    ]
                }
            }
        ],
        "react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}