{
	"extends": [
		"standard",
		"standard-react"
	],
	"plugins": [
		"react"
	],
	"parser": "babel-eslint",
	"env": {
		"browser": true
	},
	"rules": {
		"semi": ["error", "always"],
		"space-before-function-paren": 0,
		"indent": [0, 4],
		"react/jsx-indent-props": [0, 4],
		"react/jsx-indent": [0,	4],
		"no-tabs": 0,
		"no-unused-vars": 1,
		"react/no-unused-prop-types": 1,
		"comma-dangle": 1,
		"spaced-comment": 0,
		"react/prop-types": 1,
		"react/jsx-tag-spacing": 0
	}
}
