@import "~style/lib";

.indicators {
    &__list {
        @include tablet() {
            columns: 2;
            column-gap: 2rem
        }

        @include desktop() {
            columns: 3;
            column-gap: 3rem;
        }

        &__item {
            margin-bottom: .5em;
        }
    }
}