@import "~style/lib";

.product-info {
	overflow: hidden;
	padding-top: 1rem;
	line-height: 1.5625;

	@include min-screen($tablet) {
		padding-right: 3rem;
	}

	&__image {
		display: block;
		width: 13rem;
		height: 13rem;
		object-fit: contain;
		border-radius: 10px;
		padding: 2.25rem;
		box-shadow: 0px 11px 20px 0px rgba(0,0,0,0.3);

		@include mobile() {
			margin: 0 0 2rem 2rem;
		}

		@include min-screen($tablet) {
			float: left;
			margin: 1rem 3.8rem 3rem 2.8rem;
		}

		IMG {
			height: 100%;
			border-radius: 4px;
		}
	}

	&__content {
		overflow: hidden;
		padding-right: 2rem;

		@include mobile() {
			margin: 0 0 0 2rem;
		}
	}

	&__title {
		font-size: 2rem;
		font-weight: 600;
		margin: 0 0 1.7rem;
	}

	&__description {
		font-size: 1.6rem;
		line-height: 1.5625;
		color: #7D7D7D;
	}
}