@import "~style/lib";

.shop {
	max-width: 108rem;
	margin: 0 auto;

	@include mobile() {
		padding: 2rem;
	}

	@include min-screen($tablet) {
		padding: 2rem 5rem;
	}

	&__title {
		font-size: 4rem;
		text-align: center;
		margin: 2rem 0 3rem;
	}
}

.products {
	margin-bottom: 2rem;
	display: flex;

	@include max-screen($desktop - 1px) {
		flex-direction: column;
	}

	@include desktop() {
		flex-wrap: wrap;
	}

	.product {
		flex: 1 0 auto;
		margin-top: 2rem;
		width: 100%;

		@include desktop() {
			width: 50%;
		}
	}
}

.cart-products {
}
