:root {
    --page-transition-speed: 0.3s;
}

.main {
    flex: 1 0 auto;

    & > SPAN {
        display: block;
    }

    .container {
        position: relative;
    }

    .page-switch-enter {
        position: relative;
        z-index: 2;
        animation: fadeIn;
        animation-fill-mode: forwards;
        animation-duration: var(--page-transition-speed);
    }

    .page-switch-leave {
        position: absolute;
        left: 15px;
        top: 0;
        width: calc(100% - 30px);
        z-index: 1;
        animation: fadeOut;
        //animation-direction: reverse;
        animation-fill-mode: forwards;
        animation-duration: var(--page-transition-speed);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@import "./styles/header";